div,
span {
  width: 80px;
  height: 80px;
  margin: 20px;
}

div {
  background: red;

  /*default display: block;*/

  /* display: inline */
  /* 컨텐츠의 내용에 맞춰서 크기 변동 */

  /* block 내 안에서만 컨텐츠*/
  display: inline-block;
}

span {
  background: blue;

  /*default display: inline;*/
  display: block;
}
