@import url("https://fonts.googleapis.com/css?family=Alegreya+Sans:900");
body {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  font-family: sans-serif;
  margin: 0;
  background: #6d6027;
  background: -webkit-linear-gradient(left, #d3cbb8, #6d6027);
  background: -o-linear-gradient(left, #d3cbb8, #6d6027);
  background: linear-gradient(to right, #d3cbb8, #6d6027);
}
@media (max-width: 767px) {
  body {
    display: block;
  }
}

.card {
  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); /* offset-x | offset-y | blur-radius | color */
  cursor: pointer;
  height: 300px;
  margin: 20px;
  padding: 0 20px;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.025);
  text-align: center;
  transition: height 1000ms;
  width: 260px;
}
@media (max-width: 767px) {
  .card {
    left: calc(50% - 20px);
    transform: translateX(-50%);
  }
}

.card.expanded {
  height: 400px;
}

.label {
  margin-top: 30px;
  transform: translateY(10px);
  transition: transform 1000ms;
}

.chevron {
  position: absolute;
  bottom: 20px;
  left: calc(50% - 15px);
  transform-origin: 50%; /* transform의 기준이 되는 중점 */
  transform: rotate(180deg);
  transition: transform 1000ms;
}

.card.expanded .chevron {
  transform: rotate(0deg);
}
